*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



body{
    background-color:white;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: auto;
}

nav{
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    backdrop-filter: brightness(100%);
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: rgb(218, 213, 213) 0px 2px 10px;
    
}

section{
    margin-top: 10vh;
    margin-bottom: 100px;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 1.3rem;
}
button a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #fca61f;
    transition: 0.1s linear;
}

.nav-container .logo img{
    width: 50px;
}

nav button{
    width: 150px;
    height: 40px;
    border-radius:20px;
    background-color: #fca61f;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s linear;
    font-weight: 700;
    box-shadow: 1px 1px 10px #fca61f;
    border: none;
    outline: none;
}


nav button:hover{
    background-color:white;
    color: #fca61f;
    border:2px solid #fca61f;
}

.buttons{
    width: 150px;
    height: 40px;
    border-radius:20px;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s linear;
    font-weight: 700;
    border: none;
}

.buttons:hover{
    background-color:white;
    color: #fca61f;
}

/* Landing Page  */

section{
    width: 100%;
    height: 100vh;
}

section .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content .main-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.main-content h1{
    font-size: clamp(2rem, 1rem + 5vw, 6rem);
}

.main-content span{
    font-size: clamp(2rem, 1rem + 5vw, 6rem);
    font-weight: 700;
    color: #fca61f;
}

.main-content p{
    font-size: clamp(1rem, 1rem + 5vw, 1.2rem);
}

.main-content .buttons{
    width: 70%;
    margin: 5%;
    min-height: 5.5vh;
    display: flex;
    justify-content: space-around;
    outline: none;
}

.buttons button{
    width: 160px;
    height: 55px;
    margin: 10px;
    border-radius: 20px;
    background: #fca61f;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 1px 1px 10px #fca61f;
}

button:hover{
    box-shadow: 1px 1px 10px #fca61f;
    background-color:white;
    color: #fca61f;
    border:2px solid #fca61f;
    transition: 0.3s linear;
}

.content .image{
    width: 50%;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.image img{
    margin-top: 40px;
    width: 500px;
}

@media (max-width:768px){
.links{
        display: none;
    }



    .content{
        margin-top: -100px;
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .content .main-content{
        max-width: 350px;
        align-items: center;
        width: 100%;
    }

    .main-content p{
        text-align: center;
    }

}
h1{
    margin-top: 150px;
}
.home{
    font-weight: 50;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    left: 50px;
    position:relative;
}
.email{
    right: 50px;
    position:relative;

}
/* From Uiverse.io by mrhyddenn */ 
.loader {
  position: relative;
}

.loader span {
  /* position: absolute; */
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 38px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgb(128, 198, 255);
}

.loader span:nth-child(2) {
  color: rgb(128, 198, 255);
  -webkit-text-stroke: 1px rgb(128, 198, 255);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
     54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
     51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}


